@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    border-radius: 5px;
    padding: 30px;
    border: 1px solid white;
    width: fit-content;
    background-color: white;
    text-align: center;
    height: 200px;
    box-shadow: 5px 5px rgb(165, 162, 162);
}

body {
    background-color: burlywood;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formId {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#formId .formButton {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;
    background-color: darkorange;
    border: 0;
    color: black;
    border-radius: 5px;
    color: white;
}

#formId .formButton:hover {
    transition: 0.8s;
    scale: 1.1;
    box-shadow: 2px 2px grey;
}

.alert {
    margin: 10px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(250, 136, 136);
    padding: 3px;
    visibility: hidden;
}

.lastMsg {
    margin-top: 20px;
}