button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    border: black;
    transition: 0.8s;
}

button:hover {
    color: black;
    background-color: white;
    border: white;
}

body {
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}