@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: beige;
    --secondary-color: white;
    --text-color: black;
}

.darkMode {
    --primary-color: rgb(53, 53, 53);
    --secondary-color: rgb(143, 142, 142);
    --text-color: white;
}

body {
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.darkModeProp {
    position: absolute;
    top: 20px;
    right: 20px;
    /* width: 70px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px; */
}

.dark {
    padding: 8px;
    background-color: rgb(180, 180, 151);
    border: 1px solid rgb(200, 200, 200);
    color: black;
    border-radius: 6px;
}

.dark:hover {
    background-color: black;
    color: beige;
    scale: 1.1;
    box-shadow: 3px 3px 15px rgb(162, 162, 162);
    transition: 0.4s;
}

.container {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 10px;
}

.subTitle {
    color: var(--text-color);
    text-align: center;
}

.card {
    color: var(--text-color);
    width: 600px;
    height: 300px;
    background-color: var(--secondary-color);
    margin-top: 30px;
    padding: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(197, 197, 197);
}

img {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.name {
    color: var(--text-color);
    margin-top: 120px;
    font-weight: bold;
}

.star {
    color: rgb(247, 215, 35);
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    color: var(--text-color);
    padding: 8px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--secondary-color);
    font-size: large;

}

.btn:hover {
    background-color: var(--primary-color);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.btnDiv {
    position: absolute;
    top: 5%;
    right: 3%;
}

@media only screen and (max-width : 650px) {
    .card {
        width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }
}