@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.subTitle {
    text-align: center;
}

.card {
    width: 600px;
    height: 300px;
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(197, 197, 197);
}

img {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.name {
    margin-top: 120px;
    font-weight: bold;
}

.star {
    color: rgb(247, 215, 35);
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    padding: 8px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    margin-right: 10px;
    background-color: white;
    font-size: large;
    transition: 0.5s ease-in-out;

}

.btn:hover {
    background-color: beige;
    cursor: pointer;
}

.btnDiv {
    position: absolute;
    top: 5%;
    right: 3%;
}

@media only screen and (max-width : 650px) {
    .card {
        width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }
}